name: Quality Assurance
on:
  pull_request:

jobs:

  QA:
    strategy:
      matrix:
        php: [ '8.5' ]

    runs-on: ubuntu-24.04
    steps:

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          coverage: xdebug
          tools: phing:v3

      - name: Checkout repository
        uses: actions/checkout@v4

      - run: phing composer:install

      - name: PHPUnit
        run: >
          phing phpunit:check
          -Dirisbox.application.name=${{secrets.IRISBOX_APPLICATION_NAME}}
          -Dirisbox.form.name=${{secrets.IRISBOX_FORM_NAME}}
          -Dirisbox.password=${{secrets.IRISBOX_PASSWORD}}
          -Dirisbox.username=${{secrets.IRISBOX_USERNAME}}
